
name: Backend CI/CD

on:
  push:
    branches:
      - dev
      - uat
      - main

jobs:
  map_env:
    runs-on: ubuntu-latest
    outputs:
      target_env: ${{ steps.set-env.outputs.ENV }}
    steps:
      - id: set-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/dev" ]]; then
            echo "ENV=dev" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/uat" ]]; then
            echo "ENV=uat" >> $GITHUB_OUTPUT
          else
            echo "ENV=prod" >> $GITHUB_OUTPUT
          fi
  deploy:
    needs: map_env
    runs-on: ubuntu-latest
    environment: ${{ needs.map_env.outputs.target_env }}
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Note the formatting of tags here to ensure YAML 1.2 compliance
          tags: confideleapcrm/backend-api:${{ needs.map_env.outputs.target_env }}

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/backend-${{ needs.map_env.outputs.target_env }}
            docker compose pull
            docker compose up -d
            docker image prune -f
